* {
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px 100px;
}

.page-content {
  display: flex;
  margin: 30px;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
}

p {
  width: 700px;
}

img {
  height: 700px;
  width: 700px;
}

.gif {
  height: 50px;
  width: 50px;
}

a {
  text-decoration: none;
}

.comment {
  border-bottom: 1px solid black;
}