* {
  margin: 20px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px 100px;
}

.page-content {
  display: flex;
  margin: 30px;
}

h1 {
  text-align: center;
}

p {
  width: 500px;
}

img {
  height: 700px;
  width: 700px;
}

a {
  text-decoration: none;
}